<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mat.systemmanagement">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FireBaseAccountActivity.LogInSystemActivities.MainLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RoomActivities.RecyclerActivity"
            android:label="@string/title_activity_recycler"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RoomActivities.CreateUserActivity" />
        <activity android:name=".RoomActivities.UpdateUserActivity" />
        <activity android:name=".FireBaseAccountActivity.UserInterface.AdminUI.AdminRegistrationActivity" />
        <activity android:name=".FireBaseAccountActivity.UserInterface.AdminUI.AdminProfileActivity" />
        <activity android:name=".FireBaseAccountActivity.LogInSystemActivities.RetrievePasswordActivity" />
        <activity android:name=".FireBaseAccountActivity.UserInterface.AdminUI.ViewDatabase" />
        <activity android:name=".FireBaseAccountActivity.UserInterface.ManagerUI.ManagerProfileActivity" />
        <activity android:name=".FireBaseAccountActivity.UserInterface.WorkerUI.WorkerProfileActivity" />
        <activity android:name=".FireBaseAccountActivity.UserInterface.AdminUI.AdminConfirmingAccount" />
        <activity android:name=".FireBaseAccountActivity.UserInterface.ManagerUI.ManagerConfirmingAccount" />
        <activity android:name=".FireBaseAccountActivity.UserInterface.ManagerUI.ManagerRegistrationActivity" />
        <activity android:name=".FireBaseAccountActivity.UserInterface.ManagerUI.ManagerAuthenticationActivity" />
        <activity android:name=".FireBaseAccountActivity.UserInterface.AdminUI.AdminAuthenticationActivity"></activity>
    </application>

</manifest>